.ddev/
.DS_Store
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/sites/*/settings.php
/web/themes/custom/sass_theme_msd/css/style.css.map
/web/themes/custom/sass_theme_msd/css/style.css