/* Homepage -> Slider */
#slider {
  position: relative;
  width: 100%;
  height: calc(100vh - 4.5rem);
  margin: 0 auto;
  background-color: var(--bg-body);
  background-image: url(../images/slider.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
	overflow: hidden;
  z-index: 2;
}
.js-slider,
.js-slider-track {
  height: calc(100vh - 5rem);
}
.js-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.js-slider-track {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 5;
}
.js-slider-track > li {
  min-width: 100%;
}
/* Typography */
.js-slider-track h1,
.js-slider-track h2,
.js-slider-track h3 {
  font-size: 3rem;
  color: var(--bold-color);
}
.js-slider-track p {
  display: inline-block;
  padding: 0 10px;
  font-size: 1.6rem;
  background: #ffffff;
  color: var(--bold-color);
}
/* Arrows */
.js-slider-arrow {
  position: absolute;
  bottom: 0;
  background: var(--color-dark);
  color: #ffffff;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
  border: 2px solid var(--color-dark);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}
.js-slider-arrow:hover {
  border: 2px solid var(--color-dark);
}
.js-slider-prev { left: 0; }
.js-slider-next { right: 0; }

/* Dots */
.js-slider-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  height: 0.5rem;
}
.js-slider-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #cccccc;
  cursor: pointer;
}
.js-slider-dot.active {
  background: var(--color-primary);
}
/* For animation */
.active-slide {
  animation: fadeInUp 1s ease-out both 0.5s;
}
/* Fade In Up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp 1s ease-out both;
}