/* prevent excessive indentation on multiple choice questions*/
ul
{
    margin: 0;
    padding: 0;
}

/* prevent chrome from splitting buttons and labels onto different lines */
.buttonlabel
{
    display:table
}

/* title text */
.matemtext
{
    font-style: bold;
    font-size:1.5em;
}

/* Question Styling*/

.questionvalue
{
    text-align: right;
    font-style: italic;
    display: block;
}

.questiontext
{
}

.questionnumber
{

}

/* Used for Image Zoom on Main Question Image */
.questionimagezoom
{
    float: right;
    width: 200px;
    margin-left: 20px;
}

.expandedzoom
{
    width: 100%;
    float:right;
}

.imagecontrol
{
    max-width: 100%;
    float:right;
}

.imageinstructions
{
    text-align: right;
}


/* Question Feedback Styles */

.incorrectimage
{
    float:left;
}

.correctimage
{
    float:left;
}

.correcttextcolor
{
   color: #3FA9F5;
}

.incorrecttextcolor
{
    color: #FF1D25;
}

.correctanswerfeedback
{
	padding-top: 10px;
    padding-left: 80px;
    display: inline-block;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOmV2PSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL3htbC1ldmVudHMiIHdpZHRoPSI4MC4wcHgiIGhlaWdodD0iODAuMHB4IiBvdmVyZmxvdz0idmlzaWJsZSIgdmlld0JveD0iMC4wIDAuMCA4MC4wIDgwLjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMC4wIDAuMCA4MC4wIDgwLjAiPgoJPGRlZnMvPgoJPGc+CgkJPGcgdHJhbnNmb3JtPSJtYXRyaXgoMS4wIDAuMCAwLjAgMS4wIDAuMCAwLjApIj4KCQkJPHBhdGggZmlsbD0iIzAwNzFCQyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNIDMyLjU1IDQyLjUgTCA1Ny40NSAxNy42NSBMIDY3LjUgMjcuNiBMIDMyLjU1IDYyLjM1IEwgMTIuNSA0Mi41IEwgMjIuMzUgMzIuNTUgTCAzMi41NSA0Mi41IFoiLz4KCQk8L2c+Cgk8L2c+Cjwvc3ZnPgo=') no-repeat;
    min-height:80px;
}

.correctanswerfbfallback
{
	padding-top: 10px;
	padding-left: 80px;
    display: inline-block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAARPSURBVHic7ZrdbhtVFIXXcloeo8/AGxDNmHskyk8VIQGVqNokTWamLW2hEaGNkqj1OE1SFVRRFaiUCiFeoD5WgTtegTseA1AXF0kgLfmxZ++xY/d8l45n7a3PZ5zjOZuSEKlOY9gNjDpRoJEo0EgUaCQKNBIFGokCjUSBRqJAI1GgkSjQSBRoJAo0EgUaiQKNRIFGXgmBnO+cqit77AWy6JxHg78zC2/VkT/WAll0zkO8B+A1ED+w6LztXWNsBe6Rx52XTkJ8wqL7jmedsRTIPFx4Sd4uJyBtMQ/ve9UaO4HMwwUA+8nbZQLAY2ZhyqPeWAncI+8oJkB8x6z7gbXm2AhkFqbRm7xdGqAeseh+aKk7FgKZhWkQmxUubUD6hnk4W7X2yAs0yNulAeAB8/BJpfqjPNrBvDsDaMMpTnjOSa0lv/Rz0ciuQGd5AHAfd5Nf+71oJAW6yyPuqUynJfR9O46cQP+Vp0210pmqV4+UQGadWefbdl1lc9YSUItAEmT29HXXzKwzC3LdMfKuynTOGlLPCszDBtj4jVk47RHnLk9aU5nOe0S5C2TRXYcwDeAkiCfMumdseeGi78pjW+1m5pXmKpB5WIO09ztlAtTjqj+XWISLEO76dAcAaKlMcsc8P4HMuyWA/b5TGpAe9rvTd5dH3VGZXnLL28FFIIvObUCH3RYE8NX2FqSHvDzMOa+822o1Lzvm/YtZIIuwCrGXT5aANpiH4tA35WEOwJq1rz2sqkyvOOa9gEkg8+4yhH6bu8M8XN8/z1seV1SmV/3y/k9lgcw6twBVbW6JeVh8Ic9bnrCsMrnmlncAlQSyCF+C/MxYe4F5WNnO687DVZ6W1E73XeXe9P04i/nTN4DGM8cengGY9IvjLZXJDb+8w+l7Bap882cIC449TLolETcHKQ+oeAurnd4EYL2FfaEW1Uo9P9geyxqeSLPofgppxbGfaohfqJ0sHv1Gf0zbGLWSVUC17bF6awILw5IHOGykVTZvgzh0c1wfurHzdTI03A6VavgFcURBfq5WsjSwege14XkqV8NDzwMK4bpa6XLtdXrA/VhzZ7xiEwfPphjRNZXN4f/j2qGWc2EW4RyE+/CWSF7d/sd1fKjlkb5a6degzgH9HxMeknrluMkDap5MYNb5GOQDWD8o8bLayR2frnyp9VhT7eZDkGcBPDfEXDqu8oABnAurlTwC9REqSVSuMm25N+XIwIaLmIUpEN9ie0K0hwuYqZUMbl9ZkYFOZzHrngH1PY6WOK8y9TwTqY2BjnaonWyBmALw94FvIuZGRR4wpPlAZuE0iC0AJ176y6zKxDIsOXCGMlykdvojpPcA/PXfi5gZNXnAEKez1G7+BOFdAH8CmFY77WdA/Ngw9BFfzndOaa35x1CbMDB0gaPOSA1YHkeiQCNRoJEo0EgUaCQKNBIFGokCjUSBRqJAI1GgkSjQSBRoJAo0EgUaiQKN/AP7hHdFLZVC1QAAAABJRU5ErkJggg==') no-repeat;
	min-height:80px;
}

.incorrectanswerfeedback
{
	padding-top: 10px;
    padding-left: 80px;
    display: inline-block;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOmV2PSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL3htbC1ldmVudHMiIHdpZHRoPSI4MC4wcHgiIGhlaWdodD0iODAuMHB4IiBvdmVyZmxvdz0idmlzaWJsZSIgdmlld0JveD0iMC4wIDAuMCA4MC4wIDgwLjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMC4wIDAuMCA4MC4wIDgwLjAiPgoJPGRlZnMvPgoJPGc+CgkJPGcgdHJhbnNmb3JtPSJtYXRyaXgoMS4wIDAuMCAwLjAgMS4wIDAuMCAwLjApIj4KCQkJPHBhdGggZmlsbD0iI0ZGMDAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNIDQwLjAgMjYuMjUgTCA1My43NSAxMi41IEwgNjcuNSAyNi4wNSBMIDUzLjc1IDM5LjggTCA2Ny41IDUzLjc1IEwgNTMuNzUgNjcuNSBMIDQwLjAgNTMuNzUgTCAyNi4yNSA2Ny41IEwgMTIuNSA1My43NSBMIDI2LjI1IDM5LjggTCAxMi41IDI2LjI1IEwgMjYuMDUgMTIuNSBMIDQwLjAgMjYuMjUgWiIvPgoJCTwvZz4KCTwvZz4KPC9zdmc+Cg==') no-repeat;
    min-height:80px;
}

.incorrectanswerfbfallback
{
	padding-top: 10px;
    padding-left: 80px;
    display: inline-block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAARYSURBVHic7dt7a1xFGMfx73hNegtNafEdiCJUETGIijG0xCuRoihKoFAo9GUV24oi1gpS8JbiLVpLGgKi76C0pTfbmlqSn3+cHdxqmuyZZ57ZXZkfPOSvM8+ZTzbZnZmzQRI16bmn3zcw7KmAxlRAYyqgMRXQmApoTAU0pgIaUwGNqYDGVEBjygCG8BAhPFykV9NvghBGSrTyBwxhF/AVcIoQHi3QbxqYA04Qwqh7P0l+BTsFSwJ16rzgMcd+04Llrn5fCjZ5ztETb4dgsWsysS4IdhfAi/WNYPNwAcK4YGGNycS6KHiiAF6sU4ItwwEI2wVn1plMrEuCJwvgxfpOsHWwAWFMcLqHycS6LHiqAF6sHwTbBhMQtgnmW0wm1hXB0wXwYs0LxgYLELZ2frttJxPrquCZAnixTgu2DwYgbOn8f0mdTKxrgmcL4MU6IxjvLyBsVvMOZ51MrOuC5wvgxVoQ7OgPIGxS8xkr12Ri3RBMFsCLtSjYWRYQRtV8ys89mVg3BVMF8GItCXalWARJ7dZ+zSL9BLDHY2nZlT+BGZr1+nHgQed+vwJTSOfaXHRfQqPdwHMJ17XNKPApEPDHAxgHxoBWgO13Y6SfgNdpXiHeGaEM3jlgEun3thembWdJXwCvAjeTrh+sRLzfUi5O3w+UvgZeAW4kj9H/mPDAuqEqzQEvAddN4/QnZjzIsSMtfQtMA3+YxyqXLHiQa0tf+h7YC1zLMp5vsuFBzjMRaZ7ms+GVbGPmT1Y8yH2oJP1Mg3g567h5kh0PPE7lpF+AKeBS9rHT44IHXsea0gLwInDRZfx2ccMDz3NhaZEG8YJbj43jigfeB+vSEjAJnHfts3bc8YCE3ZikLuER4EeaxXqJXAUmvPGg3MNFeyiHR6fX3iKdrGcCPWy+HnLcCN2oDnnPzxvvoGC1j4CrgoPDCQgH+ozXjXhguABh/4DgdSPuHw5AmBWsDADav2tFMJt7vnk/xoTwLnCYwX10eBWYRTqSa8B8gCG8DbwP3JtnQLesAO8hfZBjsDyAIbwJHGPw8WJWgHeQPrIOZP9TC2EfcJThwYPmXo927t0U2yswhBngQ+B+6430KbeBt5COpw6QDhjCa8DHDC9ezG1gH9JnKRenAYbwMvAJ8EBK0wHMX8AbSJ+3vTDl2ZgJmu9hlHhi4FbnZ6leL9Cc7fSclDeRszSA3rlF83DRDP9AemaOZm7tkrjaGBGcdFw1LAumu/p5P952UjBSdinnh3gnnj9iMp59LZwfcW08P0QTnh0wL+L6ePkRzXh5APMg9oaXDzELXj5AG2I7PDtiNry8gGmIaXjpiFnx8gO2Q7ThtUfMjucD2BtiHrzeEV3w/ADXR8yLtzGiG54v4NqIPnh3R3TF8we8E9EX77+I7nhS7kOlu6X5dtPjtNzpMPSbAM4iLbu3KgL4P86gHj8OTSqgMRXQmApoTAU0pgIaUwGNqYDGVEBjKqAxFdCYvwELwBfcK8lI9AAAAABJRU5ErkJggg==') no-repeat;
    min-height:80px;
}

.correctoptionfeedback
{
    padding-right: 20px;
    display: inline-block;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOmV2PSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL3htbC1ldmVudHMiIHdpZHRoPSIxNS4wcHgiIGhlaWdodD0iMjAuMHB4IiBvdmVyZmxvdz0idmlzaWJsZSIgdmlld0JveD0iMC4wIDAuMCAxNS4wIDIwLjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMC4wIDAuMCAxNS4wIDIwLjAiPgoJPGRlZnMvPgoJPGc+CgkJPGcgdHJhbnNmb3JtPSJtYXRyaXgoMS4wIDAuMCAwLjAgMS4wIDAuMCAwLjApIj4KCQkJPHBhdGggZmlsbD0iIzAwNzFCQyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNIDUuNDUgOC4yIEwgMTIuMjUgMS40IEwgMTUuMCA0LjEgTCA1LjQ1IDEzLjYgTCAwLjAgOC4yIEwgMi43IDUuNDUgTCA1LjQ1IDguMiBaIi8+CgkJPC9nPgoJPC9nPgo8L3N2Zz4K') no-repeat;
    background-position:right bottom;
	position:relative;
}

.correctoptionfbfallback
{
    padding-right: 20px;
    display: inline-block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAUCAYAAABSx2cSAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEvSURBVDiN7ZIxS8NgEIafSzLoYtXVHyGI/oIUdBCcagaL0E1QkKYKdXQV24roTyhKXRR0sCbSwb/hpmsHRzGeQ9rafKaYOntww/dyz3t3fCeqyl/DGqdYqkFOKuHq2LBUgxzv0ka5Ef+xBCBZxpZyZxoraqMs9SQFtpxMoEQPKIvDMjA/GFv8cEUOOxOpIAkQhHOtu9sWgFTCInDHW3TdN5CDpxkkCn6A6JnW3J3Yww88lCZg91zv+fwoIc4tsGBscap1d7f/cEDXQOxvY5YR5xmYTDbUE23ky8OSxZSzCdIyOiRBpGGC0PsqWb+ymZttInhmAVDTuruXosdHoq1CxGt3A7g0rI9HgQN4YPDSLSJ6EYMcaS2/PwqMIdVEUmjZ+IFn6mmZ6Tx/HfsfzhZfjCSM63a8rtYAAAAASUVORK5CYII=') no-repeat;
    background-position:right bottom;
	position:relative;
}

.incorrectoptionfeedback
{
    padding-right: 20px;
    display: inline-block;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOmV2PSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL3htbC1ldmVudHMiIHdpZHRoPSIxNS4wcHgiIGhlaWdodD0iMjAuMHB4IiBvdmVyZmxvdz0idmlzaWJsZSIgdmlld0JveD0iMC4wIDAuMCAxNS4wIDIwLjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMC4wIDAuMCAxNS4wIDIwLjAiPgoJPGRlZnMvPgoJPGc+CgkJPGcgdHJhbnNmb3JtPSJtYXRyaXgoMS4wIDAuMCAwLjAgMS4wIDAuMCAwLjApIj4KCQkJPHBhdGggZmlsbD0iI0ZGMDAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNIDE1LjAgMy43IEwgMTEuMjUgNy40NSBMIDE1LjAgMTEuMjUgTCAxMS4yNSAxNS4wIEwgNy41IDExLjI1IEwgMy43NSAxNS4wIEwgMC4wIDExLjI1IEwgMy43NSA3LjQ1IEwgMC4wIDMuNzUgTCAzLjcgMC4wIEwgNy41IDMuNzUgTCAxMS4yNSAwLjAgTCAxNS4wIDMuNyBaIi8+CgkJPC9nPgoJPC9nPgo8L3N2Zz4K') no-repeat;
    background-position:right bottom;
	position:relative;
}

.incorrectoptionfbfallback
{
    padding-right: 20px;
    display: inline-block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAUCAYAAABSx2cSAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADdSURBVDiN1ZNLagJBFEWPGTW6pRBJEBFBcEe6pHZg6IHgovw7ORl0lVaHan8zG+7k1Tu3+n0KFRWhJ/wKX5dYKhgJC6GIsXjQFdaCwlb4zoDHcL4SujUMRQiYaC8MMmDUWugRfsWMDsIsA0YtEYbhplxCmzbCZ6zpR9g9A14bVhv0Q7MeAptwbTC/A8/T/BScCuc78FmY/p/z5AEwNZjEOY+F05PdPgljhLIl4Rh60DbnMm5YlQFHNzasEopYc2pwBfO7XRkeR5pQhBKaYNOgNHlVHZVXv4+XyfeF/wAeAc7/oNYoCQAAAABJRU5ErkJggg==') no-repeat;
    background-position:right bottom;
	position:relative;
}

.unselectedcorrectoptionfeedback
{
    padding-right: 20px;
    display: inline-block;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOmV2PSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL3htbC1ldmVudHMiIHdpZHRoPSIxNS4wcHgiIGhlaWdodD0iMjAuMHB4IiBvdmVyZmxvdz0idmlzaWJsZSIgdmlld0JveD0iMC4wIDAuMCAxNS4wIDIwLjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMC4wIDAuMCAxNS4wIDIwLjAiPgoJPGRlZnMvPgoJPGc+CgkJPGcgdHJhbnNmb3JtPSJtYXRyaXgoMS4wIDAuMCAwLjAgMS4wIDAuMCAwLjApIj4KCQkJPHBhdGggZmlsbD0iIzA3NEM5MiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNIDguNiA1LjMgTCAxNC42NSA1LjMgTCAxNC42NSA5LjYgTCA4LjMgOS42IEwgMTAuNzUgMTIuMSBMIDcuNiAxNS4wIEwgMC4zIDcuNDUgTCA3LjYgMC4wIEwgMTAuNzUgMy4xNSBMIDguNiA1LjMgWiIvPgoJCTwvZz4KCTwvZz4KPC9zdmc+Cg==') no-repeat;
    background-position:right bottom;
	position:relative;
}

.unselectedcorrectoptionfbfallback
{
    padding-right: 20px;
    display: inline-block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAUCAYAAABSx2cSAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFZSURBVDiN3ZO9S0JRGMaf92CeW6mR1dTf0BAVtJVJH1ZYODS3ht2hsdE1goiKwKEaE5c+VCKRBgsioaW/w0lL77Xu25BKXs8Na+zZzsPvdz7gPcTMUMUXORowa1aCLdoy0psvKkaoSlo+7jdrVhZAkATn5NLhSEcyzcb7NPF+C2C0Xg05bdAi08qO160ZN8wYt3GDgnjCUab53V5pdWcImLQxDEa0ktJP2m7JzKBwvEeykQEwZQcYKBLj3t4DyBOmTzXpKaUABBWAYwhICOktb/xWbEQYY8V9Ap3/Rf56cyDmkh5/EsCqgnkGo9AmCipQY8JoLeaWFf8FgJCNeyVGqJLS88qTm4vAmSY9pTSAGRtXEoS5tyv98XvZMiR8t141TCMMxoNNlh+g4R9PbpaLBz7NhVx90soQIlK9jGY7kgGAFvb8ssuVtIBt81p/UjJOcidRfsl/Ln8CJhV6F6RDU2kAAAAASUVORK5CYII=') no-repeat;
    background-position:right bottom;
	position:relative;
}

.unselectedincorrectoptionfeedback
{
    padding-right: 20px;
    display: inline-block;
    position:relative;
}

.unselectedincorrectoptionfbfallback
{
    padding-right: 20px;
    display: inline-block;
    position:relative;
} 