// FONT FAMILIES
$font_lato: 'lato', sans-serif;
// FONT FAMILIES

.h1,
h1 {
  font-family: $font_lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @include tablet {
    font-size: 20px;
    line-height: 28px;
  }

  @include desktop {
    font-size: 22px;
    line-height: 30px;
  }
}

.h2,
h2 {
  font-family: $font_lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    font-size: 18px;
    line-height: 26px;
  }
}

.h3,
h3 {
  font-family: $font_lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  @include tablet {
    font-size: 16px;
    line-height: 26px;
  }

  @include desktop {
    font-size: 18px;
    line-height: 28px;
  }
}

.h4,
h4 {
  font-family: $font_lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;


  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 24px;
  }
}

.h5,
h5 {
  font-family: $font_lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;


  @include tablet {
    font-size: 13px;
    line-height: 20px;
  }

  @include desktop {
    font-size: 14px;
    line-height: 20px;
  }
}