// Define Colors Variables
$primary-color: #1487D4;
$secondary-color: #9DCB68;
$tertiary-color: #393;
$quaternary-color: #ECECEC;
$white: #fff;
$black: #222;
$gray-color: #898888;
$green-color: #008000;



// Define Spacing Variables
$space-1: 1px;
$space-2: 2px;
$space-3: 3px;
$space-4: 4px;
$space-5: 5px;
$space-6: 6px;
$space-7: 7px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-15: 15px;
$space-16: 16px;
$space-17: 17px;
$space-18: 18px;
$space-20: 20px;
$space-22: 22px;
$space-24: 24px;
$space-25: 25px;
$space-27: 27px;
$space-28: 28px;
$space-30: 30px;
$space-32: 32px;
$space-40: 40px;
$space-45: 45px;
$space-50: 50px;
$space-54: 54px;
$space-70: 70px;
$space-71: 71px;
$space-73: 73px;
$space-80: 80px;
$space-96: 96px;